html { 
    background-color:aliceblue;
}

h1 {
    color:cadetblue;
    text-align: center;
    background-color:aliceblue;
}

h2 { 
    color: cadetblue;
    text-align: center;
}

h3 {
    color: cadetblue;
    text-align: center;
}